@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
#nosecone {
  background-image: url("./nose-cone3.png");
  width: 550px;
  height: 100vh;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 10;
  top: 100px;
  left: 45%;
  right: 0;
  bottom: 0; }

#spacecraft {
  background-image: url("./spacecraft.png");
  width: 550px;
  height: 100vh;
  background-repeat: no-repeat;
  z-index: 5;
  position: absolute;
  top: 142px;
  left: calc(45% - 50px);
  right: 0;
  bottom: 0; }

#trunk {
  background-image: url("./trunk.png");
  width: 550px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 8;
  position: absolute;
  top: 311px;
  left: calc(45% - 50px);
  right: 0;
  bottom: 0; }

.flame {
  transform: rotate(180deg);
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 470px;
  left: calc(45% - 140px);
  width: 400px;
  height: 365px; }

.text {
  width: 100%;
  height: 50px;
  display: inline-block;
  padding-bottom: 10px; }

.rocketcontainer {
  height: 2300px;
  width: 100%;
  position: relative;
  background-image: url("../photos/stars.jpg");
  background-repeat: repeat;
  background-size: auto;
  overflow: hidden; }

.rocketcontainer p {
  position: absolute;
  top: 1800px;
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif; }

#solarninja {
  display: hidden;
  top: 1132px;
  position: absolute; }

#solarpanels {
  background-image: url("./solarSequence.png");
  width: 1000px;
  margin-left: 150px;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 5;
  position: absolute;
  top: 1132px;
  left: calc(45% - 528px);
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  display: flex; }
  #solarpanels div {
    margin: 5px;
    margin-top: 225px;
    font-size: 45px; }

.words {
  transition: transform 3s cubic-bezier(0.43, 0.1, 0.57, 0.9), filter 3s ease, opacity 3s ease;
  filter: blur(5px); }
  .words:nth-of-type(2) {
    transform: translateY(-60px);
    transition-duration: 1.5s; }
  .words:nth-of-type(3) {
    filter: blur(0);
    transform: translateY(-70px);
    transition-duration: 2.30769s; }
  .words:nth-of-type(4) {
    transform: translateY(-100px);
    transition-duration: 2s; }
  .words:nth-of-type(5) {
    transform: translateY(-50px);
    transition-duration: 1.5s; }
  .words:nth-of-type(6) {
    filter: blur(0);
    transform: translateY(120px);
    transition-duration: 1.30435s; }
  .words:nth-of-type(7) {
    filter: blur(3);
    transform: translateY(-80px);
    transition-duration: 1.42857s; }
  .words:nth-of-type(8) {
    transform: translateY(-50px);
    transition-duration: 1.5s; }
  .words:nth-of-type(9) {
    filter: blur(4);
    transform: translateY(150px);
    transition-duration: 1.2s; }
  .words:nth-of-type(10) {
    filter: blur(6);
    transform: translateY(150px);
    transition-duration: 2.14286s; }
